@import "tailwindcss" important;
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@custom-variant corporate (&:where([data-theme=corporate], [data-theme=corporate] *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}
/* Default Light Theme */
:root,
[data-theme="light"], 
.light {
  --color-bg: #ffffff;
  --color-text: #111827;
  --color-primary: #2563eb;
  --color-secondary: #6b7280;
}

/* Dark Theme */
[data-theme="dark"],
.dark {
  --color-bg: #111827;
  --color-text: #f9fafb;
  --color-primary: yellow;
  --color-secondary: #9ca3af;
}

/* Corporate Theme Example */
[data-theme="corporate"] {
  --color-bg: #f5f3ff;
  --color-text: #1e1b4b;
  --color-primary: #7c3aed;
  --color-secondary: #4338ca;
}
/* .kamlesh{
  background-color: var(--color-bg);
  color: var(--color-text);
} */
